# Introduction to Pandas

We first start by importing Pandas

In [ ]:
import pandas as pd

## Reading and Importing Data

We are going to use the House Sales in King County, USA dataset from Kaggle: https://www.kaggle.com/datasets/harlfoxem/housesalesprediction?select=kc_house_data.csv

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/kc_house_data.csv')

## Initial Manipulation

We now move to data manipulation. Having inspected the data, we now we wish to extract and manipulate what is useful for our analysis.

### Grouping

In [ ]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

As we have seen so far, certain categories are a bit more interesting than others. We would like to know what are the characteristics of certain combinations of values, and how they might be related to our target.

In Pandas we have the option to groupby one or more column and calculate statistics for each resulting group. This way we have a clear view of what is in front of us.

```
df.groupby('column_name1').mean()
```

In [ ]:
# we are selecting a few columns (numerical), grouping by the number of bedrooms and calculating the average value of the other variables
df[['price','bedrooms', 'sqft_living', 'sqft_lot']].groupby('bedrooms').mean().round(1).head(4)

             price  sqft_living  sqft_lot
bedrooms
0         410223.1       1707.8   24141.3
1         317658.0        884.6   16285.7
2         401387.7       1239.8   12096.7
3         466276.6       1805.8   14414.8

This output shows us the average price, and area for houses containing of different bedroom sizes

In [ ]:
# Using the reset_index function gives us a nicer format as seen below
df_grouped = df[['price', 'bedrooms', 'sqft_living', 'sqft_lot']].groupby('bedrooms').mean().round(1).reset_index()

Another interesting way to look at it is to think of categories such as grade, waterfront, etc

In [ ]:
df[['price', 'grade', 'sqft_living', 'sqft_lot']].groupby('grade').mean().round(1).reset_index()

    grade      price  sqft_living  sqft_lot
0       1   142000.0        290.0   20875.0
1       3   205666.7        596.7   26953.0
2       4   214381.0        660.5   22101.5
3       5   248524.0        983.3   24019.9
4       6   301916.6       1191.6   12647.0
5       7   402593.3       1689.4   11766.4
6       8   542895.5       2184.7   13510.2
7       9   773738.2       2868.1   20638.5
8      10  1072347.5       3520.3   28191.1
9      11  1497792.4       4395.4   38372.8
10     12  2192500.0       5471.6   54521.3
11     13  3710769.2       7483.1   28204.8

In [ ]:
df[['price', 'waterfront', 'sqft_living', 'sqft_lot']].groupby('waterfront').mean().round(1).reset_index()

   waterfront      price  sqft_living  sqft_lot
0           0   531653.4       2071.6   15029.0
1           1  1662524.2       3173.7   25371.8

Even more interesting and useful is to group by two categories

```
df.groupby(['column_name1', 'column_name2']).mean()
```

In [ ]:
df[['price', 'waterfront', 'grade',

    'sqft_living', 'sqft_lot']].groupby(['waterfront', 'grade']).mean().round(1)

                      price  sqft_living  sqft_lot
waterfront grade
0          1       142000.0        290.0   20875.0
           3       205666.7        596.7   26953.0
           4       214381.0        660.5   22101.5
           5       245966.0        986.1   24056.0
           6       300243.5       1191.7   12600.3
           7       401476.7       1688.2   11723.1
           8       538258.9       2180.9   13387.6
           9       767489.2       2868.2   20604.5
           10     1042090.4       3516.9   28392.2
           11     1423823.6       4361.3   39418.4
           12     2036519.0       5404.2   58038.5
           13     3710769.2       7483.1   28204.8
1          5       400725.0        817.5   21870.5
           6       584382.7       1165.8   20517.4
           7       837478.3       2148.2   28633.4
           8      1241636.2       2762.5   31985.5
           9      1421140.0       2860.2   24159.2
           10     2267500.0       3652.9   20246.5
           11     2899500.0       5042.5   18558.6
           12     3312727.3       5955.3   29261.2

In [ ]:
## the more 'standard' format
df[['price', 'waterfront', 'grade', 'sqft_living', 'sqft_lot']].groupby(['grade', 'waterfront']).mean().round(1).reset_index()

    grade  waterfront      price  sqft_living  sqft_lot
0       1           0   142000.0        290.0   20875.0
1       3           0   205666.7        596.7   26953.0
2       4           0   214381.0        660.5   22101.5
3       5           0   245966.0        986.1   24056.0
4       5           1   400725.0        817.5   21870.5
5       6           0   300243.5       1191.7   12600.3
6       6           1   584382.7       1165.8   20517.4
7       7           0   401476.7       1688.2   11723.1
8       7           1   837478.3       2148.2   28633.4
9       8           0   538258.9       2180.9   13387.6
10      8           1  1241636.2       2762.5   31985.5
11      9           0   767489.2       2868.2   20604.5
12      9           1  1421140.0       2860.2   24159.2
13     10           0  1042090.4       3516.9   28392.2
14     10           1  2267500.0       3652.9   20246.5
15     11           0  1423823.6       4361.3   39418.4
16     11           1  2899500.0       5042.5   18558.6
17     12           0  2036519.0       5404.2   58038.5
18     12           1  3312727.3       5955.3   29261.2
19     13           0  3710769.2       7483.1   28204.8

Other quantities can be derived as well, such as calculating the count of occurrences

In [ ]:
temp = df[['price', 'waterfront', 'grade']].groupby(['grade', 'waterfront']).count().round(1).reset_index() # what does this tell us?

In [ ]:
temp['perc'] = (temp['price'] / len(df)) * 100

In [ ]:
temp

    grade  waterfront  price       perc
0       1           0      1   0.004627
1       3           0      3   0.013881
2       4           0     29   0.134179
3       5           0    238   1.101189
4       5           1      4   0.018507
5       6           0   2026   9.373988
6       6           1     12   0.055522
7       7           0   8958  41.447277
8       7           1     23   0.106417
9       8           0   6028  27.890621
10      8           1     40   0.185074
11      9           0   2590  11.983528
12      9           1     25   0.115671
13     10           0   1106   5.117291
14     10           1     28   0.129552
15     11           0    379   1.753574
16     11           1     20   0.092537
17     12           0     79   0.365521
18     12           1     11   0.050895
19     13           0     13   0.060149

In [ ]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [ ]:
df[['price', 'waterfront', 'grade',
    'sqft_living', 'sqft_lot']].groupby('waterfront')['grade'].value_counts().rename('count').reset_index() ## What do you see?

    waterfront  grade  count
0            0      7   8958
1            0      8   6028
2            0      9   2590
3            0      6   2026
4            0     10   1106
5            0     11    379
6            0      5    238
7            0     12     79
8            0      4     29
9            0     13     13
10           0      3      3
11           0      1      1
12           1      8     40
13           1     10     28
14           1      9     25
15           1      7     23
16           1     11     20
17           1      6     12
18           1     12     11
19           1      5      4

In [ ]:
df[['price', 'waterfront', 'grade',
    'sqft_living', 'sqft_lot']].groupby('waterfront')['grade'].value_counts(normalize=True).mul(100).rename('percentage').reset_index()

    waterfront  grade  percentage
0            0      7   41.762238
1            0      8   28.102564
2            0      9   12.074592
3            0      6    9.445221
4            0     10    5.156177
5            0     11    1.766900
6            0      5    1.109557
7            0     12    0.368298
8            0      4    0.135198
9            0     13    0.060606
10           0      3    0.013986
11           0      1    0.004662
12           1      8   24.539877
13           1     10   17.177914
14           1      9   15.337423
15           1      7   14.110429
16           1     11   12.269939
17           1      6    7.361963
18           1     12    6.748466
19           1      5    2.453988

Explain the output of the above cell: what do you see?

Go through each category of your output and explain the numbers. Try the same command but in a different order: grouping by grade and then calculating value counts for waterfront. What does this tell you?

Now try it for different combinations of variables and explain the outputs.

In [ ]:
# loc and iloc (and also when we select columns df[[]]) all of those methods return a dataframe on which you can apply operations
# those operations can be further loc and iloc or groupby for example

df.loc[df['waterfront'] == 0,['price', 'sqft_living', 'sqft_lot', 'view']].groupby('view').mean().round(1)

          price  sqft_living  sqft_lot
view
0      496623.5       1997.8   14179.2
1      813054.9       2570.9   11891.3
2      783955.1       2649.3   22158.1
3      964685.1       3039.2   34123.4
4     1270713.3       3412.6   22720.3

In [ ]:
## Possible example:

df[['price', 'waterfront', 'view',
    'sqft_living', 'sqft_lot']].groupby('waterfront')['view'].value_counts(normalize=True).mul(100).rename('percentage').reset_index()

   waterfront  view  percentage
0           0     0   90.857809
1           0     2    4.452214
2           0     3    2.289044
3           0     1    1.543124
4           0     4    0.857809
5           1     4   82.822086
6           1     3   11.656442
7           1     2    4.907975
8           1     1    0.613497

### Aggregating

Aggregating allows us to aggregate (as the name suggests...) our data by functions. Meaning that for all our columns (or a subset) we operate a certain function on them

```
df.agg(['max', 'min', 'sum', 'mean])
```

In [ ]:
df.agg(['max', 'min', 'mean'])

<ipython-input-55-1fb5beb07dde>:1: FutureWarning: ['date'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.agg(['max', 'min', 'mean'])

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
max,9.900000e+09,20150527T000000,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,...,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000
min,1.000102e+06,20140502T000000,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,...,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
mean,4.580302e+09,NaN,5.401822e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,...,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652

In [ ]:
df[['price', 'sqft_living', 'sqft_lot', 'floors', 'grade']].agg(['max', 'min'])

         price  sqft_living  sqft_lot  floors  grade
max  7700000.0        13540   1651359     3.5     13
min    75000.0          290       520     1.0      1

In [ ]:
df[['price', 'sqft_living',
    'sqft_lot', 'floors', 'grade']].agg(['max', 'min', 'count', 'mean', 'median']).reset_index()## of course we know the value of count

,index,price,sqft_living,sqft_lot,floors,grade
0,max,7.700000e+06,13540.000000,1.651359e+06,3.500000,13.000000
1,min,7.500000e+04,290.000000,5.200000e+02,1.000000,1.000000
2,count,2.161300e+04,21613.000000,2.161300e+04,21613.000000,21613.000000
3,mean,5.401822e+05,2079.899736,1.510697e+04,1.494309,7.656873
4,median,4.500000e+05,1910.000000,7.618000e+03,1.500000,7.000000

Very intuitive method, and easy to use. We can see how it can be applied on all columns, or a subset of them, and that we can use various types of statistics/operations.

What is interesting here is that we can combine both groupby and aggregate...

We can do so on several columns

In [ ]:
# transform to a 'normal' dataframe
df[['price', 'sqft_living', 'sqft_lot', 'waterfront', 'grade']].groupby('waterfront').agg(['max', 'min', 'mean', 'median']).reset_index()

  waterfront      price                                    sqft_living       \
                    max       min          mean     median         max  min
0          0  7700000.0   75000.0  5.316534e+05   450000.0       13540  290
1          1  7060000.0  285000.0  1.662524e+06  1400000.0       10040  440

                       sqft_lot                              grade      \
          mean  median      max   min          mean   median   max min
0  2071.587972  1910.0  1651359   520  15028.964196   7588.5    13   1
1  3173.687117  2850.0   505166  1767  25371.828221  17342.0    12   5


       mean median
0  7.648392    7.0
1  8.773006    9.0

Or just one column

In [ ]:
df[['price', 'sqft_living', 'sqft_lot', 'waterfront', 'grade']].groupby('waterfront')['price'].agg(['max', 'min']).reset_index()

   waterfront        max       min
0           0  7700000.0   75000.0
1           1  7060000.0  285000.0

And on top of this we can specify which operation to run on each column

In [ ]:
## what happens if specify only a subset of our columns?

df[['price', 'sqft_living', 'sqft_lot',
    'waterfront', 'grade']].groupby('waterfront').agg({'price' : ['max', 'min', 'median'], 'sqft_living' : ['max', 'min']}).reset_index()

  waterfront      price                      sqft_living
                    max       min     median         max  min
0          0  7700000.0   75000.0   450000.0       13540  290
1          1  7060000.0  285000.0  1400000.0       10040  440

In [ ]:
## Grouping by two columns and aggregating

df[['price', 'sqft_living', 'sqft_lot',
    'waterfront', 'grade']].groupby(['waterfront', 'grade']).agg({'price' : ['max', 'min', 'median'],
                                                                  'sqft_living' : ['max', 'min'],
                                                                  'sqft_lot' : ['max', 'min'],
                                                                  'grade' : ['median']})

                      price                       sqft_living       sqft_lot  \
                        max        min     median         max   min      max
waterfront grade
0          1       142000.0   142000.0   142000.0         290   290    20875
           3       280000.0    75000.0   262000.0         670   520    43377
           4       435000.0    80000.0   205000.0        1470   384   213444
           5       795000.0    78000.0   225000.0        2040   370  1164794
           6      1050000.0    82000.0   275000.0        3900   390  1651359
           7      1570000.0    90000.0   375000.0        4480   550   843309
           8      2200000.0   140000.0   510000.0        5370   750  1074218
           9      2550000.0   230000.0   719000.0        6900   860   715690
           10     3000000.0   316000.0   905000.0        6630  1180  1024068
           11     3420000.0   420000.0  1240000.0        8020  2370   881654
           12     5350000.0   835000.0  1770000.0       13540  3860   920423
           13     7700000.0  1780000.0  2980000.0       12050  4500    64033
1          5       658000.0   285000.0   329950.0        1060   440    54846
           6      1200000.0   340000.0   529000.0        1992   720    48292
           7      2050000.0   357000.0   700000.0        3580  1000   167125
           8      3070000.0   425000.0  1090000.0        4640  1460   505166
           9      2700000.0   705000.0  1340000.0        4380  1970    69351
           10     3600000.0   380000.0  2115000.0        5300  1980    91681
           11     7060000.0  1610000.0  2650000.0       10040  3000    57990
           12     5300000.0  1640000.0  3120000.0        9640  3690    56609

                         grade
                    min median
waterfront grade
0          1      20875    1.0
           3      12981    3.0
           4       1500    4.0
           5       1801    5.0
           6        835    6.0
           7        520    7.0
           8        600    8.0
           9        635    9.0
           10       873   10.0
           11       609   11.0
           12      3452   12.0
           13      7500   13.0
1          5       8313    5.0
           6       7540    6.0
           7       5978    7.0
           8       1767    8.0
           9       3128    9.0
           10      4334   10.0
           11      5634   11.0
           12     13068   12.0

The possibilities are near endless. It is now up to you to decide how to proceed with this. Choose wisely

### Bonus: Correlation

In [ ]:
df.corr() ## explain how it works and include in your assignment with explanations

<ipython-input-63-2f6f6606aa2c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,1.000000,-0.016797,0.001286,0.005160,-0.012258,-0.132109,0.018525,-0.002721,0.011592,-0.023783,0.008130,-0.010842,-0.005151,0.021380,-0.016907,-0.008224,-0.001891,0.020799,-0.002901,-0.138798
price,-0.016797,1.000000,0.308338,0.525134,0.702044,0.089655,0.256786,0.266331,0.397346,0.036392,0.667463,0.605566,0.323837,0.053982,0.126442,-0.053168,0.306919,0.021571,0.585374,0.082456
bedrooms,0.001286,0.308338,1.000000,0.515884,0.576671,0.031703,0.175429,-0.006582,0.079532,0.028472,0.356967,0.477600,0.303093,0.154178,0.018841,-0.152668,-0.008931,0.129473,0.391638,0.029244
bathrooms,0.005160,0.525134,0.515884,1.000000,0.754665,0.087740,0.500653,0.063744,0.187737,-0.124982,0.664983,0.685342,0.283770,0.506019,0.050739,-0.203866,0.024573,0.223042,0.568634,0.087175
sqft_living,-0.012258,0.702044,0.576671,0.754665,1.000000,0.172826,0.353949,0.103818,0.284611,-0.058753,0.762704,0.876597,0.435043,0.318049,0.055363,-0.199430,0.052529,0.240223,0.756420,0.183286
sqft_lot,-0.132109,0.089655,0.031703,0.087740,0.172826,1.000000,-0.005201,0.021604,0.074710,-0.008958,0.113621,0.183512,0.015286,0.053080,0.007644,-0.129574,-0.085683,0.229521,0.144608,0.718557
floors,0.018525,0.256786,0.175429,0.500653,0.353949,-0.005201,1.000000,0.023698,0.029444,-0.263768,0.458183,0.523885,-0.245705,0.489319,0.006338,-0.059121,0.049614,0.125419,0.279885,-0.011269
waterfront,-0.002721,0.266331,-0.006582,0.063744,0.103818,0.021604,0.023698,1.000000,0.401857,0.016653,0.082775,0.072075,0.080588,-0.026161,0.092885,0.030285,-0.014274,-0.041910,0.086463,0.030703
view,0.011592,0.397346,0.079532,0.187737,0.284611,0.074710,0.029444,0.401857,1.000000,0.045990,0.251321,0.167649,0.276947,-0.053440,0.103917,0.084827,0.006157,-0.078400,0.280439,0.072575
condition,-0.023783,0.036392,0.028472,-0.124982,-0.058753,-0.008958,-0.263768,0.016653,0.045990,1.000000,-0.144674,-0.158214,0.174105,-0.361417,-0.060618,0.003026,-0.014941,-0.106500,-0.092824,-0.003406
grade,0.008130,0.667463,0.356967,0.664983,0.762704,0.113621,0.458183,0.082775,0.251321,-0.144674,1.000000,0.755923,0.168392,0.446963,0.014414,-0.184862,0.114084,0.198372,0.713202,0.119248
sqft_above,-0.010842,0.605566,0.477600,0.685342,0.876597,0.183512,0.523885,0.072075,0.167649,-0.158214,0.755923,1.000000,-0.051943,0.423898,0.023285,-0.261190,-0.000816,0.343803,0.731870,0.194050
sqft_basement,-0.005151,0.323837,0.303093,0.283770,0.435043,0.015286,-0.245705,0.080588,0.276947,0.174105,0.168392,-0.051943,1.000000,-0.133124,0.071323,0.074845,0.110538,-0.144765,0.200355,0.017276
yr_built,0.021380,0.053982,0.154178,0.506019,0.318049,0.053080,0.489319,-0.026161,-0.053440,-0.361417,0.446963,0.423898,-0.133124,1.000000,-0.224874,-0.346869,-0.148122,0.409356,0.326229,0.070958
yr_renovated,-0.016907,0.126442,0.018841,0.050739,0.055363,0.007644,0.006338,0.092885,0.103917,-0.060618,0.014414,0.023285,0.071323,-0.224874,1.000000,0.064357,0.029398,-0.068372,-0.002673,0.007854
zipcode,-0.008224,-0.053168,-0.152668,-0.203866,-0.199430,-0.129574,-0.059121,0.030285,0.084827,0.003026,-0.184862,-0.261190,0.074845,-0.346869,0.064357,1.000000,0.267048,-0.564072,-0.279033,-0.147221
lat,-0.001891,0.306919,-0.008931,0.024573,0.052529,-0.085683,0.049614,-0.014274,0.006157,-0.014941,0.114084,-0.000816,0.110538,-0.148122,0.029398,0.267048,1.000000,-0.135512,0.048858,-0.086419
long,0.020799,0.021571,0.129473,0.223042,0.240223,0.229521,0.125419,-0.041910,-0.078400,-0.106500,0.198372,0.343803,-0.144765,0.409356,-0.068372,-0.564072,-0.135512,1.000000,0.334605,0.254451
sqft_living15,-0.002901,0.585374,0.391638,0.568634,0.756420,0.144608,0.279885,0.086463,0.280439,-0.092824,0.713202,0.731870,0.200355,0.326229,-0.002673,-0.279033,0.048858,0.334605,1.000000,0.183192
sqft_lot15,-0.138798,0.082456,0.029244,0.087175,0.183286,0.718557,-0.011269,0.030703,0.072575,-0.003406,0.119248,0.194050,0.017276,0.070958,0.007854,-0.147221,-0.086419,0.254451,0.183192,1.000000